/* Extra small devices (phones, 600px and down) */
/* ficou no css principal */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu>ul>li {
        display: inline-block;
    }

    main {
        max-width: 768px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

@media print {}