* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    position: relative;
    height: 99vh;
}


main div#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img#frame-celular {
    z-index: 1;
}

iframe {
    width: 266px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#tela-celular {
    z-index: 2;
}

main a {
    color: transparent;
}

div#redes-sociais img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
    justify-self: right;
}

div#redes-sociais img:hover {
    border: 1px solid white;
    box-shadow: 2.4px 2.4px 3.4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: 0.3s, border 0.1s;
}


@media screen and (max-width: 600px) {

    div#redes-sociais {
        text-align: center;
        vertical-align: middle;
    }

    div#redes-sociais img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        display: inline;
    }
}

@media screen and (max-width: 600px) {

    div#redes-sociais {
        text-align: center;
        vertical-align: middle;
    }

    div#redes-sociais img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        display: inline;
    }
}

@media screen and (max-width: 300px) {

    main div#celular {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
    }

    iframe {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
    }
}