@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
}

header>h1{
    font-size: 10vw;
    font-family: 'Passion One', sans-serif;
    font-weight: bolder;
    font-variant: small-caps;

}

*{
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    font-weight: normal;
}

a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}

main p{
    font-family: 'Sriracha', cursive, sans-serif;
    font-size: 3.4vw;
    padding-left: 30px;
    padding-bottom: 30px;
    line-height: 2em;
}

main {
    padding-top: 70px;
    padding-bottom: 70px;
}

div#especial1 {
    color: white;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    margin-bottom: 10vh;
    margin-top: 10vh;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.521);
}

div#especial1 p {
    padding: 10px 5px;
    margin: 50px 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.550);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
}

div#especial2 {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    margin-bottom: 10vh;
    margin-top: 10vh;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.521);
}

div#especial2 p {
    padding: 10px 5px;
    margin: 50px 25px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.550);
    text-shadow: 1px 1px 0px black;
}
